<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.iHTCboy.iPomodoros">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!--精确闹钟权限声明-->
    <uses-permission android:name="android.permission.SET_EXACT_ALARM"/>
</manifest>
